#banner {
	width:100%;
}

.principal{
	background: #CCCCCC;
	padding: 30px;
}

.titulo-principal {
	padding-left: 20px;
}

.titulo-centralizado {
	text-align: center
}

p {
	text-align: center;
}

#missao {
	font-size: 20px
}

em strong {
	color: #FF0000;
}

.itens {
	font-style: italic
}

.beneficios {
	background: #FFFFFF;
	padding: 20px;
}

ul {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
}

.imagembeneficios {
	width: 50%;
}

nav {
	position: absolute;
	top: 25px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #C78C19;
	text-decoration: underline;
}
nav ul {
    margin: 0; /* Remove a margem padrão da lista */
    padding: 0; /* Remove o padding padrão da lista */
    list-style: none; /* Remove os marcadores de lista */
    display: flex; /* Alinha os itens da lista horizontalmente */
}

nav li {
    margin-left: 20px; /* Adiciona um espaçamento entre os itens do menu */
}

nav a {
    text-decoration: none; /* Remove o sublinhado dos links */
    color: #000; /* Define a cor do texto dos links */
    font-weight: bold; /* Deixa o texto em negrito (opcional) */